@charset "UTF-8";
/* 头部区域 */

.head {
  height: 41px;
  width: 100%;
  background: #fbfbfb; }

.header_wrapper {
  height: 41px;
  background: #fbfbfb;
  line-height: 41px; }
  .header_wrapper span {
    float: left;
    color: #999999; }

.header_right {
  float: right; }
  .header_right a {
    color: #999999;
    height: 41px;
    margin-left: 5px; 
    display: block;
  float: left;}
  .qf-banner{
    min-width: 1220px;
  }
    .saoma{
      position: relative;
      width: 36px;
      height: 41px;
    }
    .saoma img{
      display: none;
      position: absolute;
      right: 5px;
      top: 41px;
      z-index: 20;
      width: 135px;
      height: 120px;
      padding: 10px 20px;
      box-sizing: border-box;
      background:#ffffff;
    }
    .saoma p{
      width: 135px;
      height: 36px;
      background:#f5f5f5;
      color: #0069c8;
      position: absolute;
      right: 5px;
      top: 161px;
      z-index: 20;
      text-align: center;
      display: none;
    }
    .saoma:hover p{
      display: block;
    }
    .saoma:hover img{
      display: block;
    }
    .header_right a:last-child {
      color: #0069c8; }

/* 搜索栏区域 */
#search{
  position: relative;
  min-width: 1220px;
  z-index: 12;
  width: 100%;
  background: #ffffff;
}
.search_wrapper {
  height: 90px;
  background: #ffffff; 
  box-sizing: border-box;
}

  

/* logo */
.logo {
  position: relative;
  top: 8px;
  display: block;
  width: 268px;
  height: 90px;
  float: left;
  line-height: 90px; }
  .logo img {
    width: 268px; }

/* 搜索栏 */
.search_box {
  box-sizing: border-box;
  width: 460px;
  height: 57px;
  margin-left: 440px;
  padding-top: 20px; }

.top-search {
  position: relative; 
}
.top-search .search_input .tips{
  position: absolute;
  left: 0;
  top: 40px;
  background: #fbfbfb;
  width: 460px;
  cursor: pointer;
  z-index: 99999;
}
.top-search .search_input .tips li{
  padding-left: 20px;
}
.active{
  background: red;
}

.search_input {
  width: 460px;
  height: 38px;
  border-radius: 18px;
  background: linear-gradient(to right, #3084e5, #18ebe2);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.sou {
  width: 456px;
  height: 32px;
  border-radius: 15px;
  border: 0;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 55px; }

/* 放大镜 */
.fangdajing {
  position: absolute;
  right: 0px;
  top: 0;
  width: 55px;
  height: 38px; 
  cursor: pointer;
}

  .fangdajing input {
    width: 55px;
    height: 38px;
    border-radius: 18px;
    border: 0;
    background: linear-gradient(to right, #18ebe2, #3084e5); }
  .fangdajing i {
    position: absolute;
    left: 15px;
    top: 4px;
    font-size: 24px;
    color: #ffff; }

.search_label {
  margin:5px 0 0 20px; 
}
.search_label li{
  float: left;
}
  .search_label a {
    padding-right: 10px; 
  }
  .search_label li:hover a{
    color: red;
  }

/* 右边的购物车 */
.search_right {
  float: right;
  position: relative;
  height: 36px;
  top: -35px; }
  .search_right:hover {
    background: #f7f7f7; }
  .search_right{
    width: 166px;
    height: 36px;
    border: 1px solid #0069c8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center; }
    .search_right p{
      position: relative;
      top: -2px; }
    .search_right i {
      font-size: 22px;
      position: relative;
      top: 2px; }
  .search_right>span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #e83632;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    top: -8px; 
    right: -8px;
  }

/* 购物车划过出现的方块 */
    .search_right:hover .shop-car-hover{
      display: block;
    }

    .shop-car-hover{
      border: solid #e3e3e3 1px;
      border-radius: 10px;
      width: 305px;
      height: 76px;
      background: #f5f5f5;
      position: absolute;
      top: 35px;
      right: 0;
      display: none;
      z-index: 999;
    }
    .shop-car-hover>p{
      padding:0 10px;
      height: 38px;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      line-height: 38px;
      font-size: 14px;
    }
    .shop-car-hover .shop-car-bottom{
      display: flex;
      flex-direction: row;
      height: 38px;
      line-height: 38px;
    }
    .shop-car-bottom a:hover{
      color: #ffffff;
    }
    .shop-car-bottom span{
      display: flex;
      flex-direction: row;
      font-size: 12px;
      font-weight: 900;
      padding-left: 10px;
    }
    .shop-car-bottom>a{
      width: 62px;
      height: 25px;
      border-radius: 5px;
      background: #e83632;
      color: #ffff;
      text-align: center;
      line-height: 25px;
      position: absolute;
      right: 10px;margin-top: 5px;
    }



    /* 导航 */
.nav {
  width: 100%;
  height: 37px;
  background: #fff; }

.menu-first {
  float: left; }
  .menu-first a:hover {
    color: #ffffff; }

/* 商品分类 */
.menu-top {
  width: 194px;
  height: 37px;
  background: #2e8ae4; }
  .menu-top a {
    width: 194px;
    height: 37px;
    padding-left: 15px;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center; }
    .menu-top a i {
      padding-right: 5px;
      position: relative;
      top: 2px; }
  .menu-top:hover .nav-1 {
    display: block; }

/* 分类下面的菜单 */
.nav-1 {
  z-index: 2;
  width: 194px;
  height: 510px;
  background: linear-gradient(#3084e5, #18ebe2);
  opacity: .9;
  position: absolute;
  padding-top: 10px;
  box-sizing: border-box;
  display: none; }
  .nav-1 > li {
    width: 194px;
    height: 36px; }
    .nav-1 > li > a {
      color: #ffffff;
      font-size: 12px;
      padding-left: 10px;
      height: 36px;
      line-height: 36px;
      position: relative; }
      .nav-1 > li > a i {
        position: absolute;
        right: 10px;
        transition: all 0.5s; }
    .nav-1 > li:hover {
      background: #1d6ba9; }
      .nav-1 > li:hover a i {
        transform: rotate(90deg);
        transition: all 0.5s; }
  .nav-1 li .nav-2 {
    height: 510px;
    background: #fff;
    opacity: .9;
    position: absolute;
    top: 0;
    left: 194px;
    box-sizing: border-box;
    min-width: 100px;
    padding-top: 10px;
    display: none; }
    .nav-1 li .nav-2 li {
      height: 36px;
      text-align: center;
      line-height: 36px; }
      .nav-1 li .nav-2 li a {
        height: 36px;
        min-width: 100px;
        display: block;
        color: #000000; }
        .nav-1 li .nav-2 li a:hover {
          background: #3e91e1; }
  .nav-1 li:hover .nav-2 {
    display: block; }

/* 商品分类后面的导航 */
.nav-ul {
  float: left;
  padding-left: 10px;
  position: relative;
  top: 1px; }
  .nav-ul li {
    float: left;
    width: 76px;
    height: 38px;
    text-align: center; }
    .nav-ul li a {
      width: 76px;
      height: 38px;
      line-height: 38px;
      display: block; }
      .nav-ul li a:hover {
        background: #2e8ae4;
        color: #ffffff; }

/* 尾部区域 */
#foot {
  position: absolute;
  min-width: 1220px;
  height: 265px;
  width: 100%;
  background: #f6f6f6;
  box-sizing: border-box; }

.foot_wrapper {
  width: 100%;
  height: 265px;
  background: #f6f6f6;
  box-sizing: border-box; }

.foot-con {
  height: 265px; }

.foot_top {
  width: 100%;
  height: 265px;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

.foot_linner_left ul {
  display: flex;
  flex-direction: row;
  box-sizing: border-box; }
  .foot_linner_left ul li {
    display: flex;
    flex-direction: column;
    padding-right: 205px;
    box-sizing: border-box;
    color: #666666; }
    .foot_linner_left ul li p {
      padding-bottom: 20px;
      font-size: 16px; }
    .foot_linner_left ul li a {
      padding-bottom: 8px; }

.foot_linner_right {
  display: flex;
  flex-direction: column; }
  .foot_linner_right a {
    padding-top: 20px; }

.foot_bottom {
  height: 60px;
  background: #eeeeee;
  display: flex;
  align-items: center; }
  .foot_bottom .linner_foot {
    display: flex;
    justify-content: space-between; }


/* 详情页中的置顶 */
#stick{
  min-width: 1220px;
  position: relative;
  /* top: 0;  */
  width: 100%;
  height: 57px;
  background: #ffffff;
  overflow: hidden;
  z-index: 9999;
  box-shadow: 0 0 0 #e3e3e3, 0 0 0 #e3e3e3, 0 0 20px #e3e3e3, 0 0 0 #e3e3e3;
}
.stick_margin{
  position: relative;
  min-width: 1220px;
}
.stick_left{
  position: absolute;
  left: 20px;
  line-height: 57px;
  font-size: 14px;
}

.stick_right{
  width: 960px;
  float: right;
}
.stick_right .stick_nav{
  height: 57px;
  line-height: 57px;
  float: left;
}
.stick_right .stick_nav li{
  cursor: pointer;
  float: left;
  width: 56px;
  margin-right: 40px;
  font-size: 14px;
  position: relative;
  top: -1px;
  display: flex;
  flex-direction: column;
}
.stick_right>a{
  position: relative;
  top: 8px;
  margin-right: 30px;
  float: right;
  font-size: 14px;
  width: 115px;
  height: 32px;
  background: #e83632;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
}
.stick_right>a:hover{
  color: #ffffff;
}

.stick_right .stick_nav li span{
  width: 56px;
  height: 3px;
  background: #0069c8;
  position: absolute;
  bottom: -7px;
  transition: all .4s;
}
.stick_right .stick_nav li:hover span{
  transform:  translateY(-14px);
    transition: all .4s;
}
.stick_right .stick_nav li:hover{
  color: #0069c8;
}